:root {
    --charcoal: #464655ff;
    --battleship-gray: #94958bff;
    --french-gray: #b7b6c1ff;
    --lavender-web: #d5cfe1ff;
    --pale-purple: #eddfefff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

header {
    background-color: var(--charcoal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 100%;
}

header .group-one {
    display: flex;
    align-items: center;
    gap: .5rem;
    max-width: 40%;
}

header .group-two {
    display: flex;
    align-items: center;
    gap: .25rem;
    max-width: 40%;
    justify-content: flex-end;
    
}

#logo {
    font-size: 5rem;
    color: white;
    border: 2px solid white;
    padding: .5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

header section {
    color: white;
    max-width: 75%;
}

header section h1,
header section p {
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

header section h1 {
    margin-bottom: .25rem;
}

header section p {
    margin-top: 0;
}


#contrast {
    font-size: 1.5rem;
    color: white;
    padding: .25rem 1rem;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: white;
    width: 100%;
}

#menu::before {
    content: "≡"
}

#menu.open::before {
    content: "x";
}

nav {
    display: none;
    grid-template-rows: 0fr;
    width: 100%;
    transition: grid-template-rows 0.5s ease-out;
    padding: 1px;
}

nav ul {
    margin-right: 1px;
    list-style: none;
    padding: 1px;
}

nav.open {
    grid-template-rows: 1fr;
    display: block;
}

.links {
    margin: 0;
    background-color: var(--charcoal);
    display: block;
}

.links a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: .7rem 2vw;
    color: white;
    text-align: center;
}

.links a:hover {
    background-color: var(--battleship-gray);
    color: white;
}

.links li a.current {
    background-color: var(--lavender-web);
    color: black;
    font-weight: bold;
}

.hero {
    display: block;
    width: 100%;
    height: auto; 
    position: relative;
}
  
.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#cta-button {
    width: 30%;
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: var(--battleship-gray);
    color: white; 
    font-size: 3vw; 
    padding: 10px;
    border: none;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

#cta-button:hover {
    background-color: var(--french-gray);
}

#events,#current-weather,#forecast-weather {
    border: 2px solid var(--charcoal);
    margin: 10px;
    min-height: 225px;
}

#events h2,#current-weather h2,#forecast-weather h2 {
    background-color: var(--charcoal);
    color: white;
    padding: 10px;
}

#current-weather p, #forecast-weather p {
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
}

.spotlight-section {
    display: grid;
    width: 100%;
    gap: 20px;
}

#business-card {
    border: 1px solid var(--charcoal);
    margin: 10px;
    padding: 10px;
    display: grid;
}

#photo-info {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
    gap: 5px;
    word-wrap: break-word;
}

#photo-info .image {
    display: flex;
    justify-content: center; 
    align-items: center;      
    text-align: center;  
}

#photo-info img {
    max-width: 100%;       
    height: auto;   
    object-fit: contain;     
}

#photo-info p {
    padding: 5px;
}

hr {
    margin:5px;
}

footer {
    background-color: var(--charcoal);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    max-width: 100%;
}

footer p {
    padding: 0.25rem;
}

footer section {
    margin: 1rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.social-links a {
    display: inline-block;
}

.social-links svg {
    width: 10vw;
    max-width: 50px;
    height: auto;
    fill: white;
}

main{
    padding: 1rem;
    text-align: center;
    color: var(--charcoal);
}

#memberContainer {
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.list-view {
    display: block;
}

.member-card {
    background-color: #fff;
    border: 1px solid var(--charcoal);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.member-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 1rem;
}

.member-card h3 {
    margin: 0.5rem 0;
    text-decoration: underline;
}

.list-view .member-item {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    display: grid;          
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;               
    align-items: center;     
    text-align: left;   
}

.list-view .member-item:nth-child(odd) {
    background-color: whitesmoke;
}

.list-view .member-item:nth-child(even) {
    background-color: rgb(226, 224, 224);
}

.member-item {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

#gridViewButton, #listViewButton {
    margin: 10px; 
    padding: 5px;
    font-size: 1.25rem;
    background-color: var(--charcoal);
    color: white;
    border: 2px solid black;
}

button.active {
    background-color: #d5cfe1;
    color: #464655;           
    font-weight: bold;       
}

@media (min-width: 600px) {
    #menu {
        display: none;
    }

    nav {
        display: block;
        margin-right: 4rem;
    }

    .links, .link.open {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }

    .links a {
        display: flex;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
    }

    .top {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 25% 25%;
    }

    .spotlight-section {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #cta-button {
        position: absolute;
        top: 15px;
        font-size: 2vw;
        max-height: 10%;
        text-align: center;
    }

}