:root {
    --charcoal: #464655ff;
    --battleship-gray: #94958bff;
    --french-gray: #b7b6c1ff;
    --lavender-web: #d5cfe1ff;
    --pale-purple: #eddfefff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

header {
    background-color: var(--charcoal);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 100%;
}

header img {
    border: 2px solid white;
    padding: .5rem;
    width: 100%;
    max-width: 275px;
}

h1 {
    color: white;
    margin-left: 1rem;
    font-size: 5vw;
    text-align: center;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "≡"
}

#menu.open::before {
    content: "x";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

.links {
    margin: 0;
    background-color: black;
}

.links a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: .7rem 2vw;
    color: white;
    text-align: center;
}

.links a:hover {
    background-color: var(--battleship-gray);
    color: white;
}

.links li a.current {
    background-color: var(--lavender-web);
    color: black;
    font-weight: bold;
}

.card {
    border: 2px solid var(--charcoal);
    margin: 1rem;
    padding: .5rem;
    text-align: center;
}

.card h2 {
    background-color: var(--charcoal);
    color: white;
    padding: .5rem;
}

.card img {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.courselist {
    list-style-position: inside;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%
}


footer {
    background-color: var(--charcoal);
    color: white;
    text-align: center;
    padding: 1rem 
}

.filters button {
    background-color: var(--charcoal);
    padding: 10px 15px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0 , 0.1);
    color: white;
}

.filters button:hover {
    background-color: var(--french-gray);
    color: var(--charcoal);
}

.course {
    border: 1px solid var(--charcoal);
    margin: 10px;
    padding: 10px;
    background-color: var(--lavender-web);
}

.course.completed {
    background-color: var(--charcoal);
    color: white;
}

#total-credits {
    font-size: 1.5rem;
    padding: .5rem;
}

#course-details {
    border: 2px solid var(--charcoal);
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    line-height: 1.6;

    /* Centering the dialog box */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Moves it up and left by half its width/height */
    z-index: 1000; /* Ensure it's above other elements */
}

::backdrop {
    background-color: rgb(0 0 0 / .5); /* Semi-transparent background behind the modal */
    z-index: 999; /* Make sure the backdrop is just behind the modal */
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / .1);
}

@media (min-width: 600px) {
    #menu {
        display: none;
    }

    .links, .link.open {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }

    .links a {
        display: flex;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    main section:last-child {
        grid-column: span 2;
    }

    #courses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        font-size: 3rem;
    }

}